$color-white: #FFFFFF;
$brand_color: #6648fe;
$grey_color: #747681;
$lightgrey_color: #d2d6dd;
$darkgrey_color: #3f4144;
$error_color: #d43939;
$success_color: #339D5D;

$app_bg_color: #ffffff;
$app_bg_secondary_color: #f3f3f6;
$app_lightgrey_color: #d2d6dd;
$app_grey_color: #747681;
$app_darkgrey_color: #3f4144;
$app_error_color: #d43939;
$app_success_color: #339D5D;

/*this style is used for cbxpoll frontend*/
//$brand_color : #005ae0;
/* generic styles for cbxpoll*/

@import "misc/variable";
@import "../../../../../cbxdesign/chota/chota";
@import "misc/icons";
//@import "misc/app_status_colors";
@import "../../../../../cbxdesign/chota/guest_form";
@import "../../../../../cbxdesign/chota/guest_url";
@import "../../../../../cbxdesign/chota/helpers";
@import "../../../../../cbxdesign/chota/magic_check/magic_extras";
.cbxpoll {
  .entry-content,
  .page-content {
    max-width: 1140px !important;
    margin: 0 auto !important;
    padding: 30px !important;
    background: #fff !important;
    border-radius: 10px !important;
  }
}

.cbxpoll_clearfix {
  clear: both;
}

.cbxpoll_messages {
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 1.2 !important;
  margin: 0 0 10px 0 !important;
  padding: 0 !important;
}

.single-cbxpoll {
  .cbxpoll_wrapper {
    box-shadow: none !important;
    padding: 10px 0 0 0 !important;
    background: transparent !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }

  .page-content,
  .entry-content {
    text-align: left !important;
  }
}

.cbxpoll_wrapper {
  padding: 30px !important;
  background: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0 10px 22px 10px rgba(0, 4, 32, 0.05) !important;
  margin: 5px auto 20px auto !important;
  clear: both;
  font-size: 16px;
  line-height: 1.2;

  h3 {
    margin-bottom: 20px;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 28px !important;
  }
}

.cbxpoll-description {
  p {
    margin-bottom: 15px;
    text-align: justify !important;
  }
}

.cbxpoll-qresponse {
  p {
    margin-bottom: 0;
  }

  &.cbxpoll-qresponse-error {
    color: #212121;
    background: #fff;
    border: 1px solid #ececec;
    border-left: 8px solid #D91E18;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 5px 15px 2px 0;
    padding: 5px 12px;
    border-radius: 8px;

    p {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  &.cbxpoll-qresponse-success {
    color: #212121;
    background: #fff;
    border: 1px solid #ececec;
    border-left: 8px solid #00B16A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 5px 15px 2px 0;
    padding: 5px 12px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;

    p {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

.cbxpoll-qresponse-alert,
.cbxpoll-voted-info {
  color: #212121;
  background: #fff;
  border: 1px solid #ececec;
  border-left: 8px solid #ffc107;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  margin: 5px 15px 2px 0;
  padding: 10px 15px;
  border-radius: 8px;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.cbxpoll-form {
  .cbxpoll-form-insidewrap {}
}

.cbxpoll-form-ans-list {
  list-style: none !important;
  margin: 10px 0 !important;
  padding: 0 !important;
  width: 100%;

  li {
    list-style: none !important;
    clear: both;
    margin: 0 0 10px 0 !important;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #e2e8f0;
    background-color: #f9fafb;
    border-radius: 8px;
    transition: all 0.3s;
    box-shadow: 0 10px 20px 0 rgba(0, 4, 32, 0.05) !important;

    &:hover {
      box-shadow: 0 20px 60px 0 rgba(62, 62, 62, .16) !important;
    }

    label{
      display: flex;
      align-items: center;
    }
  }

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.widget {
  .cbxpoll-form-ans-list {
    li {
      border: 0 none;
    }
  }
}

.cbxpoll-form-insidewrap-grid {
  &,
  * {
    box-sizing: border-box;
  }

  .cbxpoll-form-ans-list {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      width: 50%;
      position: relative;
    }
  }

  .cbxpoll_ajax_link {
    margin: 0 auto;
  }
}

.cbxpoll_wrapper-widget {
  .cbxpoll-form-insidewrap-grid {
    .cbxpoll-form-ans-list {
      li {
        width: 100%;
        //margin: 0 0 20px 0 !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cbxpoll-form-insidewrap-grid {
    .cbxpoll-form-ans-list {
      li {
        width: 100%;
        //margin: 0 0 20px 0 !important;
      }
    }

    .cbxpoll_ajax_link {
      text-align: left;
    }
  }
}

.cbxpoll_single_answer_label {
  display: inline-block;
}

.cbxpoll_single_answer-text {
  margin-left: 5px;
}

.cbxpoll_ajax_link {
  position: relative;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}


.cbxpoll_result_wrap{
  width: 100%;
  max-width: 600px;
  &.cbxpoll_text_result_wrap {
    margin: 5px 0;
    padding: 8px;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    ul {
      padding-left: 0 !important;
      margin-left: 0 !important;
      margin-bottom: 10px;
      list-style: none !important;

      li {
        background: none !important;
        padding: 5px 5px 5px 0;
        margin: 5px 5px 5px 0;
        border-bottom: 1px solid #ececec;
      }
    }
  }
}


.cbxpoll-voted-info {
  margin-bottom: 5px;
  width: 100%;
  max-width: 600px;
}

p.pristine-error {
  margin: 0;
  padding: 0;
  color: #dc2a2a;
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
}

.cbxpoll_table_responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#awn-popup-wrapper .awn-buttons .awn-btn{
  padding: 1px 6px !important;
}