.cbxpollsingle-icon {
    position: relative;
    width: 26px;
    height: 26px;

  &:before{
    content: ' ';
    background-image: url('../images/singlepoll_icon.png');
    width: 26px;
    height: 26px;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}